<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Wallet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
  <ion-row>
          <ion-col class="col-border" size="2">
            date time
          </ion-col>
          <ion-col class="col-border">
            <ion-input type="text" [(ngModel)]="datetime" text-right id="input" ></ion-input>
          </ion-col>
  </ion-row>
  <ion-row>
          <ion-col class="col-border" size="2">
            sender
          </ion-col>
          <ion-col class="col-border">
            <ion-input type="text" [(ngModel)]="sender" text-right id="input" ></ion-input>
          </ion-col>
  </ion-row>
  <ion-row>
          <ion-col class="col-border" size="2">
            receiver
          </ion-col>
          <ion-col class="col-border">
            <ion-input type="text" [(ngModel)]="receiver" text-right id="input" ></ion-input>
          </ion-col>
  </ion-row>
  <ion-row>
          <ion-col class="col-border" size="2">
            vehicle type
          </ion-col>
          <ion-col class="col-border">
            <ion-input type="text" [(ngModel)]="sender" text-right id="input" ></ion-input>
          </ion-col>
  </ion-row>
  <ion-row>
          <ion-col class="col-border" size="2">
            price
          </ion-col>
          <ion-col class="col-border">
            <ion-input type="text" [(ngModel)]="sender" text-right id="input" ></ion-input>
          </ion-col>
  </ion-row>
  </ion-grid>



</ion-content>
